# For TBG 
opencv-python
matplotlib
diffusers
piexif
ollama
color-matcher
grog
opencv-contrib-python
color-matcher
numba
# For Janus
git+https://github.com/deepseek-ai/Janus.git

# For Qwen 2.5 VL:
pillow
huggingface_hub
accelerate
qwen-vl-utils
bitsandbytes
optimum
git+https://github.com/huggingface/transformers

