
# For TBG 
opencv-python
matplotlib
piexif
ollama
color-matcher
grog
opencv-contrib-python
color-matcher
# For Janus
git+https://github.com/deepseek-ai/Janus.git
# For Qwen 2.5 VL:
hf_xet
pillow
qwen-vl-utils
bitsandbytes
optimum
#git+https://github.com/huggingface/transformers
diffusers>=0.35
accelerate
huggingface_hub>=0.34
accelerate>=1.10
